@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

i {
  color: gray;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f3f6;
}

.wrapper h1 {
  width: 1024px;
  padding: 20px 0px 10px 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #8499a7;
  position: relative;
  z-index: 10;
}

.wrapper h1 strong {
  color: #8cd1da;
}

main {
  background-color: inherit;
  width: 1024px;
  overflow-x: auto;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  -ms-grid-columns: (241px)[4];
  grid-template-columns: repeat(4, 241px);
  -ms-grid-rows: (200px)[3];
  grid-template-rows: repeat(3, 200px);
  grid-row-gap: 10px;
  justify-items: center;
  grid-auto-rows: 241px 241px 241px;
  grid-auto-columns: 200px 200px 200px 200px;
}

main .add {
  justify-self: baseline;
  width: 220px;
  height: 200px;
  border-radius: 6px;
  background: white;
  -webkit-box-shadow: -1px 0px 13px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 0px 13px rgba(0, 0, 0, 0.23);
}

main .add label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .add label input[type=file] {
  display: none;
}

main .add figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main .add figure figcaption {
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  width: 70px;
  font-weight: bold;
  color: #d6dce0;
}

main .add figure i {
  color: #21b8c6;
}

main .add:hover {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: -1px 0px 13px rgba(0, 0, 0, 0.63);
  box-shadow: -1px 0px 13px rgba(0, 0, 0, 0.63);
}

main::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d1dae3;
}

main::-webkit-scrollbar {
  width: 12px;
  background-color: inherit;
}

main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #21b8c6;
}

.main-img-block {
  justify-self: end;
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-grid-row-span: 1;
  grid-row: span 1;
  -ms-grid-column-span: 1;
  grid-column: span 1;
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-img-block img {
  width: 100%;
}

.main-img-block .reaction-block {
  width: 100%;
  bottom: 0;
  border-radius: 0px 0px 8px 8px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: absolute;
  -webkit-transform: translateY(200px);
  -ms-transform: translateY(200px);
  transform: translateY(200px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.main-img-block .reaction-block .block {
  width: calc(100% / 3);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-img-block .reaction-block .block p {
  position: absolute;
  top: 24px;
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
  border: 2px solid gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #21b8c6;
  font-family: 'Roboto';
}

.main-img-block.width {
  -ms-grid-row-span: 1;
  grid-row: span 1;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.main-img-block.height {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-span: 1;
  grid-column: span 1;
}

.main-img-block.height img {
  height: 100%;
}

.main-img-block:hover .reaction-block {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.opacity-block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e6e6e6;
  opacity: 0.85;
  z-index: 9;
  top: 0;
}

.current-img-block {
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  max-height: 595px;
  height: 100%;
  max-width: 810px;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.current-img-block .img-block {
  max-width: 50%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.current-img-block .img-block img {
  width: 100%;
  height: auto;
  border-radius: 0;
  max-height: 75%;
}

.current-img-block .img-block .current-reaction-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  background-color: whitesmoke;
}

.current-img-block .img-block .current-reaction-block .block {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  background-color: lightgray;
}

.current-img-block .img-block .current-reaction-block .block p {
  border: 2px solid gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 45px;
  color: #21b8c6;
  background-color: #fff;
  font-family: 'Roboto';
}

.current-img-block .comments-block {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.current-img-block .comments-block header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.current-img-block .comments-block header h1 {
  font-family: 'Roboto';
  color: gray;
  width: 330px;
}

.current-img-block .comments-block header>div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.current-img-block .comments-block header>div button {
  margin-right: 20px;
  border: none;
  width: 50px;
  height: 50px;
  background-color: #fff;
}

.current-img-block .comments-block header>div button i {
  color: #21b8c6;
}

.current-img-block .comments-block .all-comments {
  height: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.current-img-block .comments-block .all-comments>div {
  margin-top: 15px;
}

.current-img-block .comments-block .all-comments>div:nth-first-of-type() {
  margin-top: 20px;
}

.current-img-block .comments-block .all-comments .comment-presents {
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'Roboto';
  color: lightgray;
}

.current-img-block .comments-block .all-comments .comment-information {
  margin-top: 3px;
  font-family: 'Roboto';
  color: gray;
  border: 2px solid lightgray;
  min-height: 60px;
  width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 5px;
}

.current-img-block .img-block .current-reaction-block .block:hover,
.current-img-block .img-block .current-reaction-block .block.check {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.current-img-block .img-block .current-reaction-block .block:nth-of-type(1) {
  margin-right: 5px;
}

.current-img-block .img-block .current-reaction-block .block:nth-of-type(1):hover,
.current-img-block .img-block .current-reaction-block .block:nth-of-type(1).check {
  background-color: green;
}

.current-reaction-block .block:nth-of-type(2) {
  margin-left: 5px;
  margin-right: 15px;
}

.current-img-block .img-block .current-reaction-block .block:nth-of-type(2):hover,
.current-img-block .img-block .current-reaction-block .block:nth-of-type(2).check {
  background-color: red;
}

.current-img-block .img-block .current-reaction-block .block.check i,
.current-img-block .img-block .current-reaction-block .block:hover i {
  color: #fff;
}

.current-img-block .img-block .current-reaction-block .block.check p,
.current-img-block .img-block .current-reaction-block .block:hover p {
  background-color: #fff;
  border: 2px solid #fff;
}

.comments-block header button:active {
  outline: none;
}

div.all-comments::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #d1dae3;
}

div.all-comments::-webkit-scrollbar {
  width: 8px;
  background-color: inherit;
}

div.all-comments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #21b8c6;
}

form {
  margin-top: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

form fieldset {
  border: none;
  margin-bottom: 15px;
}

form fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form fieldset>input {
  width: 100%;
  border: none;
  height: 35px;
  font-family: 'Roboto';
  font-size: 20px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  margin-bottom: 10px;
  padding-left: 5px;
  border-bottom: 2px solid #21b8c6;
}

form fieldset button[type=submit] {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #21b8c6;
}

form fieldset button[type=submit] i {
  color: #fff;
}

form fieldset textarea {
  resize: none;
  border: none;
  font-family: 'Roboto';
  font-size: 14px;
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 270px;
  padding: 5px 0px 0px 5px;
}

form fieldset>input:focus {
  outline: none;
  border-bottom: 2px solid #21b8c6;
}

textarea:focus {
  outline: none;
}