@font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

i {
    color: gray;
}

// Обертка
.wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 243, 246);


    h1 {
        width: 1024px;
        padding: 20px 0px 10px 0px;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 24px;
        color: #8499a7;
        position: relative;
        z-index: 10;

        strong {
            color: #8cd1da;
        }
    }

}

// Главный блок
main {
    background-color: inherit;
    width: 1024px;
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    grid-template-columns: repeat(4, 241px);
    grid-template-rows: repeat(3, 200px);
    grid-row-gap: 10px;
    justify-items: center;
    grid-auto-rows: 241px 241px 241px;
    grid-auto-columns: 200px 200px 200px 200px;

    .add {
        justify-self: baseline;
        width: 220px;
        height: 200px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        box-shadow: -1px 0px 13px rgba(0, 0, 0, 0.23);

        label {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input[type=file] {
                display: none;
            }
        }

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;

            figcaption {
                margin-top: 10px;
                font-family: 'Roboto', sans-serif;
                font-size: 17px;
                text-align: center;
                width: 70px;
                font-weight: bold;
                color: #d6dce0;
            }

            i {
                color: #21b8c6;
            }
        }

    }

    .add:hover {
        transition: 1s;
        box-shadow: -1px 0px 13px rgba(0, 0, 0, 0.63);

    }
}

// Скрол главного блока
main::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(209, 218, 227);
}

main::-webkit-scrollbar {
    width: 12px;
    background-color: inherit;
}

main::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: rgb(33, 184, 198);
}


// Блок изображения
.main-img-block {
    justify-self: end;
    height: auto;
    flex-grow: 1;
    grid-row: span 1;
    grid-column: span 1;
    max-width: 100%;
    width: fit-content;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
    }

    .reaction-block {
        width: 100%;
        bottom: 0;
        border-radius: 0px 0px 8px 8px;
        height: 90px;
        display: flex;
        overflow: hidden;
        position: absolute;
        transform: translateY(200px);
        transition: 1s;

        .block {

            width: calc(100% / 3);
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                position: absolute;
                top: 24px;
                transform: translateX(23px);
                border: 2px solid gray;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #21b8c6;
                font-family: 'Roboto';
            }
        }
    }

}

.main-img-block.width {
    grid-row: span 1;
    grid-column: span 2;
}

.main-img-block.height {
    grid-row: span 2;
    grid-column: span 1;

    img {
        height: 100%;
    }
}

.main-img-block:hover .reaction-block {
    transform: translateY(0px);
    transition: 1s;
}

// Блок затемнения фона
.opacity-block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    opacity: 0.85;
    z-index: 9;
    top: 0;
}

// Блок текущего изображения
.current-img-block {
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    max-height: 595px;
    height: 100%;
    max-width: 810px;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .img-block {

        max-width: 50%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            border-radius: 0;
            max-height: 75%;
        }

        .current-reaction-block {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            background-color: whitesmoke;


            .block {
                width: 70px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translateY(-10px);
                transition: transform 0.5s;
                position: relative;
                background-color: lightgray;

                p {
                    border: 2px solid gray;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 8px;
                    left: 45px;
                    color: #21b8c6;
                    background-color: #fff;
                    font-family: 'Roboto';
                }
            }
        }
    }

    .comments-block {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;

        header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h1 {
                font-family: 'Roboto';
                color: gray;
                width: 330px;
            }

            &>div {
                width: 100%;
                display: flex;
                justify-content: flex-end;

                button {
                    margin-right: 20px;
                    border: none;
                    width: 50px;
                    height: 50px;
                    background-color: #fff;

                    i {
                        color: rgb(33, 184, 198);
                    }
                }
            }
        }

        .all-comments {
            height: auto;
            flex-grow: 1;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            align-items: center;
            flex-direction: column;

            &>div
            {
                margin-top: 15px;
            }

            &>div:nth-first-of-type()
            {
                margin-top: 20px;
            }

            
            .comment-presents {
                width: 330px;
                display: flex;
                justify-content: space-between;
                font-family: 'Roboto';
                color: lightgray;
            }


            .comment-information {
                margin-top: 3px;
                font-family: 'Roboto';
                color: gray;
                border: 2px solid lightgray;
                min-height: 60px;
                width: 330px;
                display: flex;
                align-items: center;
                padding-left: 5px;
            }
        }
    }
}

// Анимация нажатия и наведения на блоки
.current-img-block .img-block .current-reaction-block .block:hover,
.current-img-block .img-block .current-reaction-block .block.check {
    transform: translateY(0px);
    transition: transform 0.5s;
}

.current-img-block .img-block .current-reaction-block .block:nth-of-type(1) {
    margin-right: 5px;
}

.current-img-block .img-block .current-reaction-block .block:nth-of-type(1):hover,
.current-img-block .img-block .current-reaction-block .block:nth-of-type(1).check {
    background-color: green;
}

.current-reaction-block .block:nth-of-type(2) {
    margin-left: 5px;
    margin-right: 15px;
}

.current-img-block .img-block .current-reaction-block .block:nth-of-type(2):hover,
.current-img-block .img-block .current-reaction-block .block:nth-of-type(2).check {
    background-color: red;

}

.current-img-block .img-block .current-reaction-block .block.check i,
.current-img-block .img-block .current-reaction-block .block:hover i {
    color: #fff;
}

.current-img-block .img-block .current-reaction-block .block.check p,
.current-img-block .img-block .current-reaction-block .block:hover p {
    background-color: #fff;
    border: 2px solid #fff;
}

.comments-block header button:active {
    outline: none;
}

// скроолбар комментов
div.all-comments::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(209, 218, 227);
}

div.all-comments::-webkit-scrollbar {
    width: 8px;
    background-color: inherit;
}

div.all-comments::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(33, 184, 198);
}

// Стили для формы ввода комментов
form {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    fieldset {
        border: none;
        margin-bottom: 15px;

        div {
            display: flex;
        }

        &>input {
            width: 100%;
            border: none;
            height: 35px;
            font-family: 'Roboto';
            font-size: 20px;
            transition: all 1s;
            margin-bottom: 10px;
            padding-left: 5px;
            border-bottom: 2px solid #21b8c6;
        }

        button[type=submit] {
            width: 60px;
            height: 60px;
            border: none;
            background-color: #21b8c6;

            i {
                color: #fff;
            }
        }

        textarea {
            resize: none;
            border: none;
            font-family: 'Roboto';
            font-size: 14px;
            border-left: 1px solid lightgray;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            width: 270px;
            padding: 5px 0px 0px 5px;
        }
    }
}

form fieldset>input:focus {
    outline: none;
    border-bottom: 2px solid #21b8c6;
}

textarea:focus {
    outline: none;
}